<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h1> {{title}}</h1>
        <p>Disfruta de los eventos posteados por tus amigos y comparte tus gustos</p>
        <p>
            <a [routerLink]="['/profile', identity._id]" class="btn btn-success btn-lg" role="button">
                Mi perfil
            </a>
            <a [routerLink]="['/timeline']" [routerLinkActive]="['active']" class="btn btn-primary btn-lg" role="button">
                Eventos
            </a>
            <a [routerLink]="['/users']" [routerLinkActive]="['active']" class="btn btn-default btn-lg" role="button">
                Usuarios
            </a>
            <a [routerLink]="['/wishlist', identity._id, 1]" class="btn btn-default btn-lg" role="button">
                Mi WishList
            </a>
        </p>
    </div>
</div>