<div class="col-lg-8">
    <h1 class="h1-strong"> {{title}} 
        <button class="btn btn-success btn-sm pull-right" (click) = "refresh()"> Mostrar nuevas </button>
    </h1>

    <div id="events">
        <div *ngFor="let wishObject of wishList" class="itemPublication">
            <div class="panel panel-default">
                <div class="panel-body">
    
                    <div class="imageUser pull-left">
                        <a [routerLink]="['/profile', wishObject.user._id]">
                            <img src="{{url + 'get-image-user/' + wishObject.user.profileImage}}" *ngIf="wishObject.user.profileImage"/>
                            <img src="assets/userDefaultImage.png" *ngIf="!wishObject.user.profileImage" class="avatarDefault">
                        </a>
                    </div>
    
                    <div>
                        <a [routerLink]="['/profile', wishObject.user._id]" class="userName"> {{wishObject.user.name + ' ' + wishObject.user.lastName}} </a>
                    </div>
                    
                    <h5> {{wishObject.name}}</h5>
                
                    <h4 class="publicationText pull-left">
                        {{wishObject.price}}
                    </h4>

                    <div class="pull-right"  *ngIf="wishObject.user._id == identity._id">

                        <a href="#myModal{{wishObject._id}}" role="button" class="btn btn-large btn-danger"
                        data-toggle="modal">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                        <div id="myModal{{wishObject._id}}" class="modal fade">

                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title">Confirmación</h4>

                                    </div>
                                    <div class="modal-body">
                                        <p>¿En verdad quieres eliminar este artículo de tu wishlist?</p>
                                        <p class="text-warning"><small>No lo podrás recuperar. Tendrás que crearla de nuevo</small></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        <button (click)="deleteWishObject(wishObject._id)"type="button" data-dismiss="modal" class="btn btn-primary">
                                            Borrar publicación
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-12 text-center" *ngIf="wishList && wishList.length">
        <p>
            <button class="btn btn-success" (click)="loadMore()" *ngIf="!noMore">
                Ver más eventos
            </button>
        </p>
    </div>

</div>

<sidebar (sended)="refresh()"></sidebar>

<div class="clearfix"></div>