<!--<div class="col-lg-4 sidebar-32">
    <h1 id="misDatos" class="h1-strong"> Hola, {{identity.name }} </h1>
</div>


<div id="user-card" class="col-lg-4 panel panel-default pull-left box-default">

    <div class="avatar pull-left">
        <img src="{{ url + 'get-image-user/' + identity.profileImage }}" *ngIf = "identity.profileImage"/>
        <img src="assets/userDefaultImage.png" *ngIf = "!identity.profileImage"/>

    </div>

    <div class="nameLastName pull-left">
        <a [routerLink]="['/profile', identity._id]" class="username">
            {{ identity.name + ' ' + identity.lastName }}
        </a>

        <p class="phoneNumber"> {{ identity.phoneNumber }} </p>

        <div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>

    <div class="stats" *ngIf="stats">
        <div class="statsData">
            <a [routerLink]="['/siguiendo', identity._id, 1]">
                <span class="labelStats">
                    Siguiendo
                </span>
                <span class="numberStats">
                    {{ stats.value.following }}
                </span>
            </a>
        </div>

        <div class="statsData">
            <a href="#">
                <span class="labelStats">
                    Seguidores
                </span>
                <span class="numberStats">
                    {{ stats.value.followed }}
                </span>
            </a>
        </div>

        <div class="statsData">
            <a href="#">
                <span class="labelStats">
                    Eventos creados
                </span>
                <span class="numberStats">
                    {{stats.value.publications}}
                </span>
            </a>
        </div>

    </div>

</div> -->



<!--Formulario para los wish objects-->

<div id="newPublication" class="col-lg-4 pull-left panel panel-default">

    <div class="alert alert-success" *ngIf="status == 'success'"> 
        Artículo añadido a la wishlist correctamente
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'"> 
        No se pudo añadir este artículo
    </div>

    <form #newPubForm="ngForm" (ngSubmit) = "onSubmit(newPubForm, $event)" class="col-lg-10">

        <p>
            <label>Nombre de tu wish object</label>
            <input type="text" name="name" placeholder="Nombre del artículo" #name="ngModel" [(ngModel)]="wishObject.name" class="form-control" required>
            <span *ngIf="!name && name.touched">
                El nombre del artículo es clave
            </span>
        </p>

        <p>
            <label>Precio del artículo</label>
            <input type="text" name="price" placeholder="Precio del artículo" #price="ngModel" [(ngModel)]="wishObject.price" class="form-control" required>
            <span *ngIf="!price && price.touched">
                El precio del artículo es necesario
            </span>
        </p>

        <p>
            <label>URL del artículo</label>
            <input type="text" name="url" placeholder="URL del artículo" #url="ngModel" [(ngModel)]="wishObject.objectUrl" class="form-control" required>
            <span *ngIf="!url && url.touched">
                La Url de tu artículo es necesaria
            </span>
        </p>

        <input type="submit" value="Crear" class="btn btn-success" [disabled]="!newPubForm.form.valid">
    </form>
</div>